<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-speriod" class="control-label col-xs-12 col-sm-2">{:__('Speriod')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-speriod" data-rule="required" class="form-control" name="row[speriod]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-open_time" class="control-label col-xs-12 col-sm-2">{:__('Open_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-open_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[open_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-one" class="control-label col-xs-12 col-sm-2">{:__('One')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-one" data-rule="required" class="form-control" name="row[one]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-two" class="control-label col-xs-12 col-sm-2">{:__('Two')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-two" data-rule="required" class="form-control" name="row[two]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-three" class="control-label col-xs-12 col-sm-2">{:__('Three')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-three" data-rule="required" class="form-control" name="row[three]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-four" class="control-label col-xs-12 col-sm-2">{:__('Four')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-four" data-rule="required" class="form-control" name="row[four]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-five" class="control-label col-xs-12 col-sm-2">{:__('Five')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-five" data-rule="required" class="form-control" name="row[five]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-six" class="control-label col-xs-12 col-sm-2">{:__('Six')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-six" data-rule="required" class="form-control" name="row[six]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-seven" class="control-label col-xs-12 col-sm-2">{:__('Seven')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-seven" data-rule="required" class="form-control" name="row[seven]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-eight" class="control-label col-xs-12 col-sm-2">{:__('Eight')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-eight" data-rule="required" class="form-control" name="row[eight]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-nine" class="control-label col-xs-12 col-sm-2">{:__('Nine')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-nine" data-rule="required" class="form-control" name="row[nine]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-ten" class="control-label col-xs-12 col-sm-2">{:__('Ten')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ten" data-rule="required" class="form-control" name="row[ten]" type="number">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
